*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

body{
    background: rgb(238,229,229);
    background: linear-gradient(25deg, rgba(238,229,229,1) 38%, rgba(45,144,253,1) 100%);
    overflow-x: hidden;
    
}

.header{
    width: 100%;
    height: 100vh;
}

.navbar{
    padding: 15px 18px !important;

}

.logo{
    color: whitesmoke !important;
    font-weight: 600;
}

.nav-item{
    margin: 0px 10px;
}

.nav-item .nav-link{
    color: whitesmoke ;
    font-size: 14px;
    font-weight: 500;
}

.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid white;
    color: blue;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(218, 218, 221);
    
}

/* home section start */
.content-home2{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-heading{
    
    font-weight: 700;
    line-height: 74px;
    /* Text gradient starts */
    font-size: 72px;
    background: -webkit-linear-gradient(#c508ab, #1d3979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     /* Text gradient ends */
}

.para-home{
    color: rgba(0, 0, 0, 0.63);
    font-size: 18px;
    font-weight: 500;
    max-width: 400px;
    line-height: 24px;
    margin: 14px 0px;
    text-align: justify;
}

.home-links{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid violet;
    background-color: violet;
    margin: 20px 10px 20px 0px;
    border-radius: 20px;
    padding: 10px 37px;
    font-size: 14px;
    font-weight: 500;
}
